<?xml version="1.0"?>
<connectionStrings>
<!--  <add name="DefaultConnection" connectionString="Data Source=butkevich;Initial Catalog=AuthTestDb;Persist Security Info=true;User ID=Conrad;Password=Qwerty1234" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=TaskManagerDb;Integrated Security=true" providerName="System.Data.SqlClient" />
<!--  <add name="DefaultConnection" connectionString="Data Source=(local);Initial Catalog=TaskManagerDb;Integrated Security=true" providerName="System.Data.SqlClient" />-->
</connectionStrings>
